h1 {
    color:rgb(250, 34, 10); /*تغيير لون العنوان*/
    text-align: center;/*لتغغير مكان الكتابة إما يمين او يسار او في الوسط*/
    font-size: 25px;
}

p {
    text-align: right;/*المحاذاة*/
    color: rgb(0, 0, 0);/*لون الخط*/
    font-family: 'Gill Sans';/*نوع الخط*/
    font-size: 16px;/*حجم الخط*/
    font-weight: normal;/*سمك الخط*/
    
    border-style: solid dotted dashed double; /*شكل الاطار*/
    border-width: medium;/*سمك الاطار*/
    border-color: rgb(101, 101, 193);/*لون الاطار*/
    border-radius:20px;/*التحكم بزوايا الاطار لجعلها دائرية*/
}
div {
    background-color: #009999;
    height:300px;/*الارتفاع*/
    width:50%;/*العرض*/
    border: solid thin black;
    margin: 50px 70px;/*المسافة بين النص والهامش*/
    padding: 50px;/*المسافة بين النص والاطار*/
}


body {
    background-color: rgb(255, 255, 255);/*لون الخلفية */
}