* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, sans-serif;
    scroll-behavior:smooth;
}

body {
    background-color: #ffffff;
}

header{
    background-color: #f0f0f0;
    position: fixed;
    z-index: 999;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px;
}
#name{
    text-decoration: none;
    color: #2877ed;
    font-size: 1.8em;
    font-weight: bold;
    text-transform: uppercase;
}
.navigation a{
    color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    padding-left: 30px;
}
.navigation a:hover{
    color: #2d0193;
}
section{
    padding: 100px 150px;
}
.main{
    width:100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
