* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, sans-serif;
    scroll-behavior:smooth;
}

body {
    background-color: #ffffff;
}

header{
    background-color: #f0f0f0;
    position: fixed;
    z-index: 999;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px;
}
#name{
    text-decoration: none;
    color: #2877ed;
    font-size: 1.8em;
    font-weight: bold;
    text-transform: uppercase;
}
.navigation a{
    color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    padding-left: 30px;
}
.navigation a:hover{
    color: #2d0193;
}
section{
    padding: 100px 150px;
}
.main{
    width:100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(wallpaperflare.com_wallpaper\(4\).jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main h2{
    font-size: 2em;
    color: #fff;
    font-weight: 500;

}

.main h2 span{
    display: inline-block;
    margin: 10px 0;
    color:rgb(86, 106, 254);
    font-size: 3em;
    font-weight: 600;
    
}
.main h3{
    color:#fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main-btn {
    text-decoration: none;
    color: #fff;
    background-color: #2877ed;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding:0.9375em 2.1875em;
    border-radius: 15px;
    letter-spacing: 1px;
    margin-bottom: 40px;
    transition: 0.5s ease;

}
.main-btn:hover{
    background-color: #2d0193;
    box-shadow: 0 10px 20px rgba(45,1,147,0.3);
    transform: scale(1.1); 
}
.social-icons a{
    text-decoration: none;
    color:#ffffff;
    margin-top: 20px;
    font-size: 1.7em;
    padding-right: 20px;
}

.title {
    display:flex;
    justify-content:center;
    text-align:center;
    color: #ffffff;
    font-size: 2.3em;
    font-weight: 800;
    margin-bottom: 40px;

}
.content {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding: 20px 0;
}
.card {
    background: rgba(255, 255, 255, 0.8);
    flex: 0 0 auto;
    width:21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 30%);
    border-radius: 18px;
    padding:25px;
    margin:15px;
    transition: 0.5s ease;
}
.card:hover{
    transform: scale(1.1);
    box-shadow: 0 10px 30px rgba(1 1 1 / 20%);
}
.icon {
    color:#2877ed;
    font-size: 8em;
    text-align: center;
    margin-bottom: 20px;
}
.info {
    text-align: center;
}

.info h3 {
    color:#2877ed;
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 20px;
}
.cards {
    background-image: url(https://cdn.hashnode.com/res/hashnode/image/upload/v1714589655883/ce0b34df-283b-4ab2-8773-bf8aeb8a9f3e.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
.card a {
    text-decoration: none;
    color: #fff;
    background-color: #2877ed;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding:0.5em 1.5em;
    border-radius: 10px;
    letter-spacing: 1px;
    margin-top: 15px;
    transition: 0.5s ease;
}
.card a:hover{
    background-color: #2d0193;
    box-shadow: 0 10px 20px rgba(45,1,147,0.3);
    transform: scale(1.1); 
}
.about {
    background-color: #222831;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}
.about .title {
    color: #fff;
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}
.about .name {
    color: #ffffff;
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}
.about p {
    color: #ddd;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.6;
    max-width: 800px;
    text-align: center;
}


